<form [formGroup]="form">
  <p>Използвайте формата по-долу за да смените вашата парола.</p>

  <div fxLayout="row">

    <div fxFlex="40%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%">

      <mat-form-field class="full-width">
        <input matInput placeholder="Текуща парола" formControlName="currentPassword" [type]="hideCurrentPassword ? 'password' : 'text'"
          autocomplete="current-password">
        <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
          {{hideCurrentPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['currentPassword'].hasError('required')">
          Въведете текущата парола.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Нова парола" formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
          Въведете новата парола
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Потъврдете новата парола" formControlName="newPasswordConfirm" [type]="hideNewPassword ? 'password' : 'text'"
          autocomplete="new-password">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['newPasswordConfirm'].hasError('required')">
          Въведете новата парола отново
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit" (click)="changePassword()">Запази</button>
    </div>
  </div>
</form>
