.rich-text-editor ::ng-deep .mat-form-field-underline {
   display: none;
}

.rich-text-editor {
   width: 100%;
}

textarea {
   border-style: none;
   border-color: Transparent;
   overflow: auto;
}

.center-btn {
   text-align: center;
}
