<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
   <!-- Top navbar -->
   <mat-toolbar class="navbar" color="primary">
      <button mat-icon-button (click)="snav.toggle()">
         <mat-icon>menu</mat-icon>
      </button>

      <a class="navbar-brand" [routerLink]="['/']" matTooltip="Начало">
         <h1>Recruit Mint</h1>
      </a>

      <span class="navbar-spacer"></span>

      <ng-container>
         <app-menu
            [userName]="userName"
            [themeOptions]="options$ | async"
            (themeOptionsChange)="themeChangeHandler($event)"
         ></app-menu>
      </ng-container>
   </mat-toolbar>

   <mat-sidenav-container class="navbar-sidenav-container">
      <!-- Side nav -->
      <mat-sidenav
         #snav
         [opened]="!mobileQuery.matches"
         [mode]="mobileQuery.matches ? 'over' : 'side'"
         [fixedInViewport]="mobileQuery.matches"
         fixedTopGap="56"
         class="sidenav"
      >
         <mat-nav-list>
            <h3 mat-subheader>Меню</h3>

            <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
               <mat-icon mat-list-icon> home </mat-icon>
               <p mat-line>Начало</p>
            </a>

            <a
               *ngIf="isLoggedIn"
               mat-list-item
               [routerLink]="['/job-list']"
               routerLinkActive="active"
            >
               <mat-icon mat-list-icon> business </mat-icon>
               <p mat-line>Отворени обяви</p>
            </a>
            <a
               *ngIf="isLoggedIn"
               mat-list-item
               [routerLink]="['/candidates']"
               routerLinkActive="active"
            >
               <mat-icon mat-list-icon> people </mat-icon>
               <p mat-line>Всички кандидати</p>
            </a>

            <a
               *ngIf="isHr"
               mat-list-item
               [routerLink]="['/interviews-list']"
               routerLinkActive="active"
            >
               <mat-icon mat-list-icon> date_range </mat-icon>
               <p mat-line>Интервюта</p>
            </a>

            <a *ngIf="isLoggedIn" mat-list-item [routerLink]="['/account/profile']">
               <mat-icon mat-list-icon>person</mat-icon>
               <p mat-line>Профил</p>
            </a>

            <a *ngIf="isLoggedIn" mat-list-item [routerLink]="['/auth/login']">
               <mat-icon mat-list-icon>exit_to_app</mat-icon>
               <p mat-line>Изход</p>
            </a>

            <a *ngIf="!isLoggedIn" mat-list-item [routerLink]="['/auth/login']">
               <mat-icon mat-list-icon>exit_to_app</mat-icon>
               <p mat-line>Вход</p>
            </a>

            <a *ngIf="!isLoggedIn" mat-list-item [routerLink]="['/auth/register']">
               <mat-icon mat-list-icon>app_registration</mat-icon>
               <p mat-line>Регистрация</p>
            </a>

            <mat-divider></mat-divider>

            <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
               <mat-icon mat-list-icon>call</mat-icon>
               <p mat-line>Контатки</p>
            </a>
         </mat-nav-list>
      </mat-sidenav>

      <!-- Main content -->
      <mat-sidenav-content class="sidenav-content">
         <div class="progress-bar-container">
            <mat-progress-bar
               color="accent"
               mode="indeterminate"
               *ngIf="spinnerService.visibility | async"
            >
            </mat-progress-bar>
            <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner>
         </div>

         <router-outlet></router-outlet>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>
