<div class="container" fxLayout="row" fxLayoutAlign="center none">
   <div fxFlex="75%">
      <mat-card>
         <mat-card-content>
            <h1>Контакти</h1>

            <img src="assets/images/recruit-mint-logo.png" height="300px" />

            <p>Можете да се свържете с RecruitMint всеки делничен ден от 9:00 до 18:00</p>
            <p>
               <i class="material-icons">phone</i>
               <a href="tel:+359888061113">+359 888 06 1113</a>
            </p>
            <p>
               <i class="material-icons">email</i>
               <a href="mailto:support@recruitmint.bg">support@recruitmint.bg</a>
            </p>
            <p>
               <a href="#">Условия за ползване от физически лица - крайни потребители</a>
            </p>
            <p>
               <a href="#"
                  >Политика за защита на личните данни на физически лица - крайни потребители
               </a>
            </p>
            <p>
               <a href="#">Политика за ползване на бисквити </a>
            </p>
         </mat-card-content>
      </mat-card>
   </div>
</div>
